<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
            <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Información de Articulo</h2>
            <a th:href="@{/articulo/listado}">Regresar</a>
            <hr/>
            <form th:action="@{/articulo/guardar}"
                  method="post"
                  th:object="${articulo}">
                <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/> <!-- Esto es para que no se dupliquen las cosas, se sobre escriban en el creado antes-->
                <fieldset>
                    <label for="nombre">Descripción</label>
                    <input type="text" name="descripcion" th:field="*{descripcion}"/>
                </fieldset>
                
                <fieldset>
                    <label for="detalle">Detalle</label>
                    <textarea name="detalle" th:field="*{detalle}"rows="6" cols="50"/>
                </fieldset>
                
                <fieldset>
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" th:field="*{precio}"/>
                </fieldset>
                
                <fieldset>
                    <label for="existencias">Existencias</label>
                    <input type="number" name="existencias" th:field="*{existencias}"/>
                </fieldset>
                
                <fieldset>
                    <label for="activo">Activo</label>
                    <input type="checkbox" name="activo" th:field="*{activo}"/>
                </fieldset>
                <hr/>
                <input type="submit" value="Guardar" name="guardar"/>
            </form>
        </div>
        <!--Comentario-->
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
