<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Saludos</h1>       
        <p>[[${mensaje}]]</p>

        <h2>Informacion de Clientes</h2>
        <div th:if="${clientes !=null and !clientes.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                </tr>
                <tr th:each="cliente : ${clientes}">
                    <td>[[${cliente.nombre}]]</td>
                    <td>[[${cliente.apellidos}]]</td>
                    <td>[[${cliente.correo}]]</td>
                    <td>[[${cliente.telefono}]]</td>
                </tr>
            </table>
        </div>
        <div th:if="${clientes ==null or clientes.empty}">
            <h2>No hay clientes que mostrar</h2>
        </div>
    </body>
</html>
